@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

@if (ViewBag.Error != null)
{
    <p>@ViewBag.Error</p>
}

<form method="post">
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" value="@Model.User">
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" value="@Model.Password">
    </div>
    <div>
        <input type="submit" value="Login">
        <input type="submit" value="Register" name="register">
    </div>
</form>
